name: Keep Alive Render

on:
  schedule:
    - cron: '*/10 * * * *' # Every 10 minutes
  workflow_dispatch: # Allows manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Health Endpoint
        run: |
          curl -I https://honeypot-api-system.onrender.com/health
